html, body {
  width: 100%;
}

body {
  font-family: $Reg;
  color: $black;

  background: $yellowBG;

  @media (min-width: $minDesktop) {
    overflow: hidden;
  }

  &.js-has-preloader {
    overflow: hidden;

    .preloader {
      display: block;
    }
  }
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}