@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto Bold/RobotoBold.eot');
  src: url('../fonts/Roboto Bold/RobotoBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto Bold/RobotoBold.woff') format('woff'),
       url('../fonts/Roboto Bold/RobotoBold.woff2') format('woff2'),
       url('../fonts/Roboto Bold/RobotoBold.ttf') format('truetype'),
       url('../fonts/Roboto Bold/RobotoBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto Light/RobotoLight.eot');
  src: url('../fonts/Roboto Light/RobotoLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto Light/RobotoLight.woff') format('woff'),
       url('../fonts/Roboto Light/RobotoLight.woff2') format('woff2'),
       url('../fonts/Roboto Light/RobotoLight.ttf') format('truetype'),
       url('../fonts/Roboto Light/RobotoLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto Reg/RobotoRegular.eot');
  src: url('../fonts/Roboto Reg/RobotoRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto Reg/RobotoRegular.woff') format('woff'),
       url('../fonts/Roboto Reg/RobotoRegular.woff2') format('woff2'),
       url('../fonts/Roboto Reg/RobotoRegular.ttf') format('truetype'),
       url('../fonts/Roboto Reg/RobotoRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}