.icon-flower {
  width: 0.93em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-globe_outer {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_apple {
  width: 0.82em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_google_paly {
  width: 0.92em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_in {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_logo_vintage {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_profile {
  width: 0.93em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-icon_twitter {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
