//fonts
$Bold:  'RobotoBold', sans-serif;
$Light: 'RobotoLight', sans-serif;
$Reg:   'RobotoRegular', sans-serif;

//colors from hovermap
$yellow:      #ffe800;
$dark-yellow: #e1ca04;
$black:       #000000;
$light-grey:  #f0f0f0;
$grey:        #e5e5e5;
$dark-grey:   #858585;

//colors for project
$yellowBG: #ffe60b;
$headerBG: #fbde0a;

// media
$desktop: 1260px;
$minDesktop: $desktop - 1px;
$tablet: 768px;
$minTablet: $tablet - 1px;