.canvas {
  width: 100%;
  height: 100vh;

  background-color: #ffe800;

  overflow: hidden;

  .textBlock__item-big {
    margin-top: 28px;
    letter-spacing: 0.4px;

    > span {
      margin: 0 13px;
    }
  }

  &__inner {
    height: 893px;

    &.js-animation-finished {
      .canvas__text,
      .canvas__threejs {
        opacity: 1;
      }
    }
  }

  .pageNumber {
    &__line {
      background-color: #f0d808;
    }

    &__container {
      top: 140px;
    }

    &__square {
      background-color: $yellowBG;

      border: 1px solid #f0d808;
    }
  }

  .textBlock {
    top: 147px;

    max-width: 955px;

    &.js-animation-finished {
      .textBlock__item-big {
        > span {
          span {
            width: calc(100% + 20px);

            top: 100%;
            left: -10px;

            background-color: white;
          }

          &:before {
            left: -10px;
            top: 40px;

            background-color: white;
          }

          &:after {
            right: -10px;
            bottom: 0;

            background-color: white;
          }
        }
      }
    }
  }

  &__threejs {
    position: absolute;
    display: none;

    opacity: 0;

    transition: opacity 1s ease;
  }

  &__text {
    position: absolute;

    right: 140px;
    top: 370px;

    width: 300px;

    opacity: 0;

    transition: opacity 1s ease;

    &-item {
      position: relative;

      color: black;
      font-family: $Reg;
      font-size: 18px;
      line-height: 28px;

      transition: transform 1s ease;

      &:before {
        content: '';
        position: absolute;

        top: 7px;
        left: -85px;

        width: 30px;
        height: 6px;

        background-color: white;

        opacity: 0;

        transition: opacity .3s ease;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }

      &.js-active {
        transform: translate3d(-55px, 0, 0);

        &:before {
          opacity: 1;

          transition: opacity .7s ease;
        }
      }
    }
  }
}