//- Website's preloader
mixin preloader()
    #preloader.preloader
        .preloader__line.preloader__line--right
            .preloader__text
                |ends trip begins a car in every ends parking and trip space ends &nbsp
                span.highlight every ends
                |&nbspparking and space
        .preloader__line.preloader__line--left
            .preloader__text in a space every parking ends trip begins car in trip space ends
        .preloader__line.preloader__line--right
            .preloader__text in trip space ends in a space every parking ends trip begins car
        .preloader__line.preloader__line--left
            .preloader__text parking ends trip begins in a space every car in trip space ends
