extends ../extend/default

block variables
    -
        var title = 'Unip';
        var hasPreloader = true;
block main
    main(data-page='home')

        // first section
        +introSection()

        // second section
        +slider3dSection()
