extends ../extend/default

block variables
    -
        var title = 'Unip';
        var hasPreloader = true;
block footer
    //- clear block
block main
    main(data-page='home')

        // first section
        +introSection()

        // second section
        +slider3dSection()

        // third section
        +previewSection()

        // scrolling-inside-div
        #scrollInside

            // fourth section
            +sliderSection()

            // fifth section
            +canvasSection()

            // sixth section
            +joinSection()

            // footer
            +footer()