//- cta section
mixin cta()
    section.drivers__cta
        .container
            .drivers__cta-desc
                .drivers__cta-text.regular-small get app
                h1.drivers__cta-title.h1 Drivers
                p.drivers__cta-subtitle.regular UNIP looks after your parking. Simply plan, park and enjoy.
                .drivers__cta-buttons
                    +btn('btn--white', 'apple')
                    +btn('btn--white', 'android')
            .drivers__cta-anchors
                a.drivers__cta-anchor(href="#") what & why
                a.drivers__cta-anchor(href="#") functionality
                a.drivers__cta-anchor(href="#") search parking
                a.drivers__cta-anchor(href="#") FAQ