//- cta section
mixin what_why()
    section.what
        .container
            .what__item
                .what__title
                    .what__subtitle.regular-small what & why
                    .what__title-text
                        | what is
                        span important
                            span
                        | about parking?
                .what__img-wrapper
                    img(class="what__img" src="img/map1.jpg")
                    img(class="what__img-cover" src="img/cover-map1.png")
                .what__desc
                    .what__desc-stripe
                    p.what__desc-text.regular Every third car in conjested traffic is looking for parking. Each time any driver spends in average from 5 to 20 minitutes to find a curb place. As a result, in our life we loose hours of our time, burn tons of fuel and suffer from unwanted stress. Our streets are poluted with CO2 while we are looking for "lucky chance" to park.

            .what__item.what__item-reverse
                .what__desc-reverse
                    .what__desc-reverse-stripe
                    p.what__desc-reverse-text.regular It is simple: parking is accessible anytime anywhere. We know in advance where to go and where to park.
                .what__img-wrapper
                    img(class="what__img" src="img/map2.jpg")
                    img(class="what__img-cover" src="img/cover-map2.png")
                .what__title
                    .what__title-text
                        | What would be
                        span our dream
                            span
                        | city?

            .what__item
                .what__title
                    .what__title-text
                        | Why do you
                        span need
                            span
                        | UnIP?
                .what__img-wrapper
                    img(class="what__img" src="img/map3.jpg")
                    img(class="what__img-cover" src="img/cover-map3.png")
                .what__desc
                    .what__desc-stripe
                    p.what__desc-text.regular UnIP is the universal parking Application that can solve any of your parking tasks with great comfort and care.
                    p.what__desc-text.regular In a few taps on your phone you will be integrated free of charge to the digital parking map of your city and we will help you to park anytime anywhere
